
<body>
    <section id="discography" class="w-full h-full min-h-screen bg-bg_main py-12">

            <div class="flex flex-col justify-center items-center mb-16">
                <h1 class="text-center text-4xl sm:text-6xl md:text-7xl lg:text-7xl text-open_sans font-extrabold text-light_orange">DISCOGRAFIA</h1>
                <div class="w-28 h-[0.25rem] md:w-32 md:h-[0.25rem] mt-6 mb-10 bg-orange"></div>
                <p class="text-gray-100 text-xl text-center mx-4 max-w-2xl">Uma jornada através dos álbuns que definiram uma geração</p>
            </div>

            <div class="flex flex-col md:flex-row lg:flex-row md:flex-wrap lg:flex-wrap justify-center items-center gap-8">
                <div class="w-[21rem] h-[29rem] md:w-[28rem] h-[31rem] rounded-2xl border-[1px] border-orange/10 hover:border-orange/50 transition-all duration-700 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-orange/20 overflow-hidden cursor-pointer group">
                  
                    <a href="https://www.youtube.com/watch?v=wxdoYKeTHtc" class="relative flex justify-center items-center w-[100%] h-[60%] bg-gradient-to-br from-light_gray to-dark_gray opacity-75 group-hover:opacity-100 transition-all duration-700 transform">
                        <h1 class="text-white text-6xl font-extrabold">SOAD</h1>
                          <div class="absolute inset-0 m-auto flex justify-center items-center w-16 h-16 rounded-full border-none bg-orange opacity-0 group-hover:opacity-100 transition-opacity duration-700 ease-in-out">
                           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-play-icon lucide-play">
                            <path d="M5 5a2 2 0 0 1 3.008-1.728l11.997 6.998a2 2 0 0 1 .003 3.458l-12 7A2 2 0 0 1 5 19z"/>
                          </svg>
                         </div>
                    </a>
                    <div class=" bg-gradient-to-br from-blue to-dark_blue w-[100%] h-[45%]">
                        
                        <div class="mx-8">
                          <div class="flex flex-row justify-between py-4">
                            <div class="flex flex-row items-center gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#c42812" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-icon lucide-calendar">
                                <path d="M8 2v4"/>
                                <path d="M16 2v4"/>
                                <rect width="18" height="18" x="3" y="4" rx="2"/>
                                <path d="M3 10h18"/>
                              </svg>
                              <p class="text-orange font-bold">1998</p>
                            </div>
                            <div class="flex flex-row items-center gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#b55f2d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-award-icon lucide-award">
                                <path d="m15.477 12.89 1.515 8.526a.5.5 0 0 1-.81.47l-3.58-2.687a1 1 0 0 0-1.197 0l-3.586 2.686a.5.5 0 0 1-.81-.469l1.514-8.526"/>
                                <circle cx="12" cy="8" r="6"/>
                              </svg>
                              <p class="text-yellow font-bold">Ouro</p>
                            </div>
                          </div>
                          <div class="flex flex-col gap-4">
                            <h2 class="text-white text-2xl font-extrabold group-hover:text-light_orange">System of a Down</h2>
                            <p class="text-white text-base ">O álbum de estreia que estabeleceu o som único da banda.</p>
                          </div>
                            
                        </div>
                    </div>
                </div>

                <div class="w-[21rem] h-[29rem] md:w-[28rem] h-[31rem] rounded-2xl border-[1px] border-orange/10 hover:border-orange/50 transition-all duration-700 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-orange/20 overflow-hidden cursor-pointer group">
                  
                    <a href="https://www.youtube.com/watch?v=nVohJKUiK6o" class="relative flex justify-center items-center w-[100%] h-[60%] bg-gradient-to-br from-orange to-dark_orange opacity-75 group-hover:opacity-100 transition-all duration-700 transform">
                        <h1 class="text-white text-6xl font-extrabold">SOAD</h1>
                          <div href="https://www.youtube.com/watch?v=nVohJKUiK6o" class="absolute inset-0 m-auto flex justify-center items-center w-16 h-16 rounded-full border-none bg-orange opacity-0 group-hover:opacity-100 transition-opacity duration-700 ease-in-out">
                           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-play-icon lucide-play">
                            <path d="M5 5a2 2 0 0 1 3.008-1.728l11.997 6.998a2 2 0 0 1 .003 3.458l-12 7A2 2 0 0 1 5 19z"/>
                          </svg>
                         </div>
                    </a>
                    <div class=" bg-gradient-to-br from-blue to-dark_blue w-[100%] h-[45%]">
                        <div>

                        </div>
                        <div class="mx-8">
                          <div class="flex flex-row justify-between py-4">
                            <div class="flex flex-row items-center gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#c42812" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-icon lucide-calendar">
                                <path d="M8 2v4"/>
                                <path d="M16 2v4"/>
                                <rect width="18" height="18" x="3" y="4" rx="2"/>
                                <path d="M3 10h18"/>
                              </svg>
                              <p class="text-orange font-bold">2001</p>
                            </div>
                            <div class="flex flex-row items-center gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#b55f2d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-award-icon lucide-award">
                                <path d="m15.477 12.89 1.515 8.526a.5.5 0 0 1-.81.47l-3.58-2.687a1 1 0 0 0-1.197 0l-3.586 2.686a.5.5 0 0 1-.81-.469l1.514-8.526"/>
                                <circle cx="12" cy="8" r="6"/>
                              </svg>
                              <p class="text-yellow font-bold">Platina 3x</p>
                            </div>
                          </div>
                          <div class="flex flex-col gap-4">
                            <h2 class="text-white text-2xl font-extrabold group-hover:text-light_orange">Toxicity</h2>
                            <p class="text-white text-base ">O álbum mais bem-sucedido, com hits como "Chop Suey!" e "Prison Song".</p>
                          </div>
                            
                        </div>
                    </div>
                </div>

                <div class="w-[21rem] h-[29rem] md:w-[28rem] h-[31rem] rounded-2xl border-[1px] border-orange/10 hover:border-orange/50 transition-all duration-700 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-orange/20 overflow-hidden cursor-pointer group">
                  
                    <a href="https://www.youtube.com/watch?v=yzSFVOI8sIg" class="relative flex justify-center items-center w-[100%] h-[60%] bg-gradient-to-br from-light_orange to-orange opacity-75 group-hover:opacity-100 transition-all duration-700 transform">
                        <h1 class="text-white text-6xl font-extrabold">SOAD</h1>
                          <div class="absolute inset-0 m-auto flex justify-center items-center w-16 h-16 rounded-full border-none bg-orange opacity-0 group-hover:opacity-100 transition-opacity duration-700 ease-in-out">
                           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-play-icon lucide-play">
                            <path d="M5 5a2 2 0 0 1 3.008-1.728l11.997 6.998a2 2 0 0 1 .003 3.458l-12 7A2 2 0 0 1 5 19z"/>
                          </svg>
                         </div>
                    </a>
                    <div class=" bg-gradient-to-br from-blue to-dark_blue w-[100%] h-[45%]">
                        <div>

                        </div>
                        <div class="mx-8">
                          <div class="flex flex-row justify-between py-4">
                            <div class="flex flex-row items-center gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#c42812" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-icon lucide-calendar">
                                <path d="M8 2v4"/>
                                <path d="M16 2v4"/>
                                <rect width="18" height="18" x="3" y="4" rx="2"/>
                                <path d="M3 10h18"/>
                              </svg>
                              <p class="text-orange font-bold">2002</p>
                            </div>
                            <div class="flex flex-row items-center gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#b55f2d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-award-icon lucide-award">
                                <path d="m15.477 12.89 1.515 8.526a.5.5 0 0 1-.81.47l-3.58-2.687a1 1 0 0 0-1.197 0l-3.586 2.686a.5.5 0 0 1-.81-.469l1.514-8.526"/>
                                <circle cx="12" cy="8" r="6"/>
                              </svg>
                              <p class="text-yellow font-bold">Ouro</p>
                            </div>
                          </div>
                          <div class="flex flex-col gap-4">
                            <h2 class="text-white text-2xl font-extrabold group-hover:text-light_orange">Steal This Album!</h2>
                            <p class="text-white text-base ">Coletânea de raridades e B-sides que se tornou um álbum oficial.</p>
                          </div>
                            
                        </div>
                    </div>
                </div>

                <div class="w-[21rem] h-[29rem] md:w-[28rem] h-[31rem] rounded-2xl border-[1px] border-orange/10 hover:border-orange/50 transition-all duration-700 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-orange/20 overflow-hidden cursor-pointer group">
                  
                    <a href="https://www.youtube.com/watch?v=Ws8sMtt8VK0" class="relative flex justify-center items-center w-[100%] h-[60%] bg-gradient-to-br from-light_blue via-light_pink to-dark_red opacity-75 group-hover:opacity-100 transition-all duration-700 transform">
                        <h1 class="text-white text-6xl font-extrabold">SOAD</h1>
                          <div class="absolute inset-0 m-auto flex justify-center items-center w-16 h-16 rounded-full border-none bg-orange opacity-0 group-hover:opacity-100 transition-opacity duration-700 ease-in-out">
                           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-play-icon lucide-play">
                            <path d="M5 5a2 2 0 0 1 3.008-1.728l11.997 6.998a2 2 0 0 1 .003 3.458l-12 7A2 2 0 0 1 5 19z"/>
                          </svg>
                         </div>
                    </a>
                    <div class=" bg-gradient-to-br from-blue to-dark_blue w-[100%] h-[45%]">
                        <div>

                        </div>
                        <div class="mx-8">
                          <div class="flex flex-row justify-between py-4">
                            <div class="flex flex-row items-center gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#c42812" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-icon lucide-calendar">
                                  <path d="M8 2v4"/>
                                  <path d="M16 2v4"/>
                                  <rect width="18" height="18" x="3" y="4" rx="2"/>
                                  <path d="M3 10h18"/>
                                </svg>
                              <p class="text-orange font-bold">2005</p>
                            </div>
                            <div class="flex flex-row items-center gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#b55f2d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-award-icon lucide-award">
                                <path d="m15.477 12.89 1.515 8.526a.5.5 0 0 1-.81.47l-3.58-2.687a1 1 0 0 0-1.197 0l-3.586 2.686a.5.5 0 0 1-.81-.469l1.514-8.526"/>
                                <circle cx="12" cy="8" r="6"/>
                              </svg>
                              <p class="text-yellow font-bold">Platina</p>
                            </div>
                          </div>
                          <div class="flex flex-col gap-4">
                            <h2 class="text-white text-2xl font-extrabold group-hover:text-light_orange">Mezmerize</h2>
                            <p class="text-white text-base ">Primeiro de dois álbuns lançados em 2005, incluindo "B.Y.O.B."</p>
                          </div>
                            
                        </div>
                    </div>
                </div>

                <div class="w-[21rem] h-[29rem] md:w-[28rem] h-[31rem] rounded-2xl border-[1px] border-orange/10 hover:border-orange/50 transition-all duration-700 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-orange/20 overflow-hidden cursor-pointer group">
                  
                    <a href="https://www.youtube.com/watch?v=LoheCz4t2xc" class="relative flex justify-center items-center w-[100%] h-[60%] bg-gradient-to-br from-light_blue to-blue opacity-75 group-hover:opacity-100 transition-all duration-700 transform">
                        <h1 class="text-white text-6xl font-extrabold">SOAD</h1>
                          <div class="absolute inset-0 m-auto flex justify-center items-center w-16 h-16 rounded-full border-none bg-orange opacity-0 group-hover:opacity-100 transition-opacity duration-700 ease-in-out">
                           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-play-icon lucide-play">
                            <path d="M5 5a2 2 0 0 1 3.008-1.728l11.997 6.998a2 2 0 0 1 .003 3.458l-12 7A2 2 0 0 1 5 19z"/>
                          </svg>
                         </div>
                    </a>
                    <div class=" bg-gradient-to-br from-blue to-dark_blue w-[100%] h-[45%]">
                        <div>

                        </div>
                        <div class="mx-8">
                          <div class="flex flex-row justify-between py-4">
                            <div class="flex flex-row items-center gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#c42812" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-icon lucide-calendar">
                                <path d="M8 2v4"/>
                                <path d="M16 2v4"/>
                                <rect width="18" height="18" x="3" y="4" rx="2"/>
                                <path d="M3 10h18"/>
                              </svg>
                              <p class="text-orange font-bold">2005</p>
                            </div>
                            <div class="flex flex-row items-center gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#b55f2d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-award-icon lucide-award">
                                <path d="m15.477 12.89 1.515 8.526a.5.5 0 0 1-.81.47l-3.58-2.687a1 1 0 0 0-1.197 0l-3.586 2.686a.5.5 0 0 1-.81-.469l1.514-8.526"/>
                                <circle cx="12" cy="8" r="6"/>
                              </svg>
                              <p class="text-yellow font-bold">Platina</p>
                            </div>
                          </div>
                          <div class="flex flex-col gap-4">
                            <h2 class="text-white text-2xl font-extrabold group-hover:text-light_orange">Hypnotize</h2>
                            <p class="text-white text-base ">Álbum companion de Mezmerize, completando a obra dupla.</p>
                          </div>
                            
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>