
<body>
    <section id="store" class="w-full h-full min-h-screen bg-bg_main py-12">

            <div class="flex flex-col justify-center items-center mb-16">
                <h1 class="text-center text-5xl sm:text-6xl md:text-7xl lg:text-7xl text-open_sans font-extrabold text-white mx-8 md:px-0 mt-12">SITE OFICIAL E <strong class="text-light_orange">REDES SOCIAIS</strong></h1>
                <div class="w-28 h-[0.25rem] md:w-32 md:h-[0.25rem] mt-8 mb-12 bg-orange"></div>
                <p class="text-white text-xl text-center mx-4 max-w-2xl">Os quatro talentos que criaram um dos sons mais únicos do metal moderno</p>
            </div>

            <div class="flex flex-col md:flex-wrap justify-center items-center md:flex-row gap-8">
                <div class="relative flex flex-col gap-4 bg-gradient-to-br from-blue to-dark_blue w-[90%] sm:w-[26rem] sm:h-[20rem] md:w-[25rem] md:h-[20rem]  aspect-square p-8 rounded-2xl border border-orange/20 hover:border-orange/50 transition-all duration-700 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-orange/20 overflow-hidden cursor-pointer group">
                  <div class="absolute inset-0 bg-orange/5 opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>

                <div class="absolute top-0 left-0 w-24 h-24 bg-orange/20 rounded-full blur-2xl"></div>
                <div class="absolute bottom-0 right-0 w-16 h-16 bg-blue/30 rotate-12 group-hover:bg-dark_orange/30 transition delay-150 duration-300 ease-in-out"></div>
                <div class="absolute top-10 right-5 w-20 h-20 bg-light_orange/20 rounded-full blur-xl"></div>
      
                <div class="flex justify-center items-center bg-gradient-to-br from-light_orange to-dark_orange w-16 h-16 sm:w-16 sm:h-16 md:w-16 md:h-16 rounded-2xl flex-shrink-0 group-hover:scale-110 transition delay-150 duration-300 ease-in-out z-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-globe-icon lucide-globe">
                        <circle cx="12" cy="12" r="10"/>
                        <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"/>
                        <path d="M2 12h20"/>
                    </svg>
                </div>
                
                <div class="flex flex-col gap-[1.5rem] z-10">
                    <div class="flex flex-row items-center gap-2">
                        <h2 class="text-white text-2xl font-extrabold group-hover:text-light_orange">Site Oficial</h2>
                            <svg class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-light_orange" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ab3e3e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                            class="lucide lucide-square-arrow-out-up-right-icon lucide-square-arrow-out-up-right">
                            <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/>
                            <path d="m21 3-9 9"/><path d="M15 3h6v6"/>
                         </svg>
                    </div>
                    <p class="text-gray-400 text-xl sm:text-lg lg:text-base text-wrap">
                        Acesse o site oficial da banda para novidades e tour dates
                    </p>
                    <a href="https://www.systemofadown.com/" class="flex justify-center items-center bg-white text-orange w-[100%] h-[2.5rem] rounded-md border-[1px] border-orange/50 group-hover:bg-orange group-hover:text-white transition-all duration-300 overflow-hidden cursor-pointer aspect-square">Acessar</a>
                </div>
                </div>

                <div class="relative flex flex-col gap-4 bg-gradient-to-br from-blue to-dark_blue w-[90%] sm:w-[26rem] sm:h-[20rem] md:w-[25rem] md:h-[20rem] aspect-square p-8 rounded-2xl border border-orange/20 hover:border-orange/50 transition-all duration-700 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-orange/20 overflow-hidden cursor-pointer group">
                  <div class="absolute inset-0 bg-orange/5 opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>

                <div class="absolute top-0 left-0 w-24 h-24 bg-orange/20 rounded-full blur-2xl"></div>
                <div class="absolute bottom-0 right-0 w-16 h-16 bg-blue/30 rotate-12 group-hover:bg-dark_orange/30 transition delay-150 duration-300 ease-in-out"></div>
                <div class="absolute top-10 right-5 w-20 h-20 bg-light_orange/20 rounded-full blur-xl"></div>
                

                <div class="flex justify-center items-center bg-dark_orange w-16 h-16 sm:w-16 sm:h-16 md:w-16 md:h-16 rounded-2xl flex-shrink-0 group-hover:scale-110 transition delay-150 duration-300 ease-in-out z-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube-icon lucide-youtube">
                        <path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/>
                        <path d="m10 15 5-3-5-3z"/>
                    </svg>
                </div>
                
                <div class="flex flex-col gap-[1.5rem] z-10">
                    <div class="flex flex-row items-center gap-2">
                        <h2 class="text-white text-2xl font-extrabold group-hover:text-light_orange">Youtube</h2>
                        <svg class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-light_orange" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ab3e3e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-out-up-right-icon lucide-square-arrow-out-up-right">
                            <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/>
                            <path d="m21 3-9 9"/>
                            <path d="M15 3h6v6"/>
                        </svg>
                    </div>
                    <p class="text-gray-400 text-xl sm:text-lg lg:text-base text-wrap">
                        Assista aos clipes oficiais e performances ao vivo
                    </p>
                    <a href="https://www.youtube.com/channel/UC7-YMmnc0ppcWmio8t1WdcA" class="flex justify-center items-center bg-white text-orange w-[100%] h-[2.5rem] rounded-md border-[1px] border-orange/50 group-hover:bg-orange group-hover:text-white transition-all duration-300 overflow-hidden cursor-pointer aspect-square">Acessar</a>
                </div>
                </div>

                <div class="relative flex flex-col gap-4 bg-gradient-to-br from-blue to-dark_blue w-[90%] sm:w-[26rem] sm:h-[20rem] md:w-[25rem] md:h-[19rem] aspect-square p-8 rounded-2xl border border-orange/20 hover:border-orange/50 transition-all duration-700 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-orange/20 overflow-hidden cursor-pointer group">
                  <div class="absolute inset-0 bg-gradient-to-br from-dark_red to-dark_orange opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

                <div class="absolute top-0 left-0 w-24 h-24 bg-orange/20 rounded-full blur-2xl"></div>
                <div class="absolute bottom-0 right-0 w-16 h-16 bg-blue/30 rotate-12 group-hover:bg-dark_orange/30 transition delay-150 duration-300 ease-in-out"></div>
                <div class="absolute top-10 right-5 w-20 h-20 bg-light_orange/20 rounded-full blur-xl"></div>
                
                <div class="flex justify-center items-center bg-gradient-to-br from-dark_red to-dark_orange w-16 h-16 sm:w-16 sm:h-16 md:w-16 md:h-16 rounded-2xl flex-shrink-0 group-hover:scale-110 transition delay-150 duration-300 ease-in-out z-10">
                   <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram-icon lucide-instagram">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"/>
                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/>
                        <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/>
                    </svg>
                </div>
                
                <div class="flex flex-col gap-[1.5rem] z-10">
                    <div class="flex flex-row items-center gap-2">
                        <h2 class="text-white text-2xl font-extrabold group-hover:text-light_orange">Instagram</h2>
                        <svg class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-light_orange" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ab3e3e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-out-up-right-icon lucide-square-arrow-out-up-right">
                            <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/>
                            <path d="m21 3-9 9"/>
                            <path d="M15 3h6v6"/>
                        </svg>
                    </div>
                    <p class="text-gray-400 text-xl sm:text-lg lg:text-base text-wrap">
                        Siga para fotos exclusivas e bastidores
                    </p>
                    <a href="https://www.instagram.com/systemofadown?igsh=a3Ftd2NqdGVkYndj" class="flex justify-center items-center bg-white text-orange w-[100%] h-[2.5rem] rounded-md border-[1px] border-orange/50 group-hover:bg-orange group-hover:text-white transition-all duration-300 overflow-hidden cursor-pointer aspect-square">Acessar</a>
                </div>
                </div>

                <div class="relative flex flex-col gap-4 bg-gradient-to-br from-blue to-dark_blue w-[90%] sm:w-[26rem] sm:h-[20rem] md:w-[25rem] md:h-[19rem] aspect-square p-8 rounded-2xl border border-orange/20 hover:border-orange/50 transition-all duration-700 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-orange/20 overflow-hidden cursor-pointer group">
                  <div class="absolute inset-0 bg-gradient-to-br from-light_green to-dark_orange opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

                <div class="absolute top-0 left-0 w-24 h-24 bg-orange/20 rounded-full blur-2xl"></div>
                <div class="absolute bottom-0 right-0 w-16 h-16 bg-blue/30 rotate-12 group-hover:bg-dark_orange/30 transition delay-150 duration-300 ease-in-out"></div>
                <div class="absolute top-10 right-5 w-20 h-20 bg-light_orange/20 rounded-full blur-xl"></div>
                
                <div class="flex justify-center items-center bg-gradient-to-br from-light_green to-dark_orange w-16 h-16 sm:w-16 sm:h-16 md:w-16 md:h-16 rounded-2xl flex-shrink-0 group-hover:scale-110 transition delay-150 duration-300 ease-in-out z-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-music-icon lucide-music">
                        <path d="M9 18V5l12-2v13"/>
                        <circle cx="6" cy="18" r="3"/>
                        <circle cx="18" cy="16" r="3"/>
                    </svg>
                </div>
                
                <div class="flex flex-col gap-[1.5rem] z-10">
                    <div class="flex flex-row items-center gap-2">
                        <h2 class="text-white text-2xl font-extrabold group-hover:text-light_orange">Spotify</h2>
                        <svg class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-light_orange" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ab3e3e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-out-up-right-icon lucide-square-arrow-out-up-right">
                            <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/>
                            <path d="m21 3-9 9"/>
                            <path d="M15 3h6v6"/>
                        </svg>
                    </div>
                    <p class="text-gray-400 text-xl sm:text-lg lg:text-base text-wrap">
                        Ouça toda a discografia da banda
                    </p>
                    <a href="https://open.spotify.com/artist/5eAWCfyUhZtHHtBdNk56l1?si=RvUqn3epRTaITlDeKp_y6Q" class="flex justify-center items-center justify-end items-end bg-white text-orange w-[100%] h-[2.5rem] rounded-md border-[1px] border-orange/50 group-hover:bg-orange group-hover:text-white transition-all duration-300 overflow-hidden cursor-pointer aspect-square">Acessar</a>
                </div>
                </div>

                <div class="relative flex flex-col gap-4 bg-gradient-to-br from-blue to-dark_blue w-[90%] sm:w-[26rem] sm:h-[20rem] md:w-[25rem] md:h-[19rem] aspect-square p-8 rounded-2xl border border-orange/20 hover:border-orange/50 transition-all duration-700 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-orange/20 overflow-hidden cursor-pointer group">
                  <div class="absolute inset-0 bg-gradient-to-br from-light_blue via-light_pink to-dark_red opacity-0 group-hover:opacity-5 transition-opacity duration-300"></div>

                <div class="absolute top-0 left-0 w-24 h-24 bg-orange/20 rounded-full blur-2xl"></div>
                <div class="absolute bottom-0 right-0 w-16 h-16 bg-blue/30 rotate-12 group-hover:bg-dark_orange/30 transition delay-150 duration-300 ease-in-out"></div>
                <div class="absolute top-10 right-5 w-20 h-20 bg-light_orange/20 rounded-full blur-xl"></div>

                <div class="flex justify-center items-center bg-gradient-to-br from-light_blue via-light_pink to-dark_red w-16 h-16 sm:w-16 sm:h-16 md:w-16 md:h-16 rounded-2xl flex-shrink-0 group-hover:scale-110 transition delay-150 duration-300 ease-in-out z-10">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter-icon lucide-twitter">
                    <path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"/>
                </svg>
                </div>
                
                <div class="flex flex-col gap-[1.5rem] z-10">
                    <div class="flex flex-row items-center gap-2">
                        <h2 class="text-white text-2xl font-extrabold group-hover:text-light_orange">Twitter (X)</h2>
                        <svg class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-light_orange" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ab3e3e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-out-up-right-icon lucide-square-arrow-out-up-right">
                            <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/>
                            <path d="m21 3-9 9"/>
                            <path d="M15 3h6v6"/>
                        </svg>
                    </div>
                    
                    <p class="text-gray-400 text-xl sm:text-lg lg:text-base text-wrap">
                        Acompanhe as últimas atualizações da banda
                    </p>
                    <a href="https://x.com/systemofadown" class="flex justify-center items-center justify-end bg-white text-orange w-[100%] h-[2.5rem] rounded-md border-[1px] border-orange/50 group-hover:bg-orange group-hover:text-white transition-all duration-300 overflow-hidden cursor-pointer aspect-square">Acessar</a>
                </div>
                </div>
            </div>      
    </section>

    <footer class="bg-bg_main py-16 flex flex-col justify-center items-center">
        <div class="w-[80vw] h-[0.05rem] bg-orange/20"></div>
            <div class="flex flex-col justify-center items-center gap-4 mt-12">
                <p class="text-gray-400 text-center text-base sm:text-lg md:text-xl mx-4 md:mx-0">
                    Site criado em homenagem ao System of a Down! S2
                </p>
                <h2 class="text-orange text-center text-xl sm:text-2xl md:text-2xl font-extrabold px-4 md:px-0">
                    "Wake up! Wake up! Grab a brush and put a little makeup!"
                </h2>
        </div>
    </footer>
    
</body>
</html>